# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.pid
*.seed
*.pid.lock

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Build output
dist/
build/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# VS Code settings
.vscode/
.history/

# OS files
.DS_Store
Thumbs.db
